# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Node.js ===
node_modules/
client/dist/
client/dist-ssr/
*.local

# === SQLite ===
*.sqlite3
*.sqlite3-journal

# === Vite cache ===
.vite/

# === Env files ===
.env
.env.*.local

# === OS files ===
.DS_Store

# === IDEs & editors ===
.vscode/*
!.vscode/extensions.json

# === Build outputs ===
client/dist/
server/dist/

# === Yarn ===
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
