# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Node.js ===
node_modules/
*.local

# === SQLite ===
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm

# === Vite cache ===
.vite/

# === Env files ===
.env
.env.local
.env.*.local

# === OS files ===
.DS_Store

# === IDEs & editors ===
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Build outputs ===
client/dist/
server/dist/

# === Yarn ===
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
