$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$done-color: rgba(6, 204, 39, 0.9);
$card-color: #FAF7F0;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.heading {
  text-align: center;
  font-size: x-large;
}

.cards {
  display: grid;
  // grid-template-columns: repeat(5, 1fr);
  @media (max-width: 320px ) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 320px ) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 768px ) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1200px ) {
    grid-template-columns: repeat(7, 1fr);
  }
  grid-auto-rows: 1fr;
  gap: 20px;
}

.card {
  background-color: $card-color;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 2em;
  border: 3px solid $primary-color;
  cursor: pointer;

  &:hover {
    border: 3px solid $done-color;
  }

  > h2 {
    @media (max-width: 768px ) { font-size: 0.5em; }
    @media (min-width: 768px ) { font-size: 0.75em; }
    cursor: pointer;
    grid-row: 2;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    align-self: center;
    overflow: hidden;
    overflow-wrap: break-word;
    max-height: 50px;
  }

  > h3 {
    cursor: pointer;
    height: auto;
    margin: 0;

    &:first-of-type {
      grid-row: 1;
      font-size: 0.5em;
      align-self: start;
      justify-self: start;
      padding-left: 3%;
      padding-top: 3%;
    }//

    &:last-of-type {
      grid-row: 3;
      font-size: 1em;
      align-self: end;
      justify-self: end;
      padding-right: 4%;
    }
  }

  &#add {
    display: grid;
    grid-template-rows: auto;
    cursor: default;
    &:hover {
      border: 3px solid $primary-color;
    }

    > form {
      text-align: center;
      display: grid;

      > input:first-of-type {
        background-color: $card-color;
        margin: 8%;
        padding: 5%;
        width: 78%;
        justify-self: center;
        text-align: center;
        color: $primary-color;
        font-weight: bold;
        border-style: none;
        font-size: 0.75em;
      }

      > input:last-of-type {
        justify-self: end;
        align-self: end;
        margin-right: 4%;
        margin-bottom: 2%;
        width: 40%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 0.6em;
        font-weight: bold;
        background: none;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        border-radius: 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        cursor: pointer;

        &:hover {
          border: 2px solid #007aff;
        }
      }
    }
  }
}

.done {
  animation: colorchange 0.5s forwards;
  @keyframes colorchange {
    0% {
      background-color: $card-color;
    }
    100% {
      background-color: $done-color;
    }
  }

  &:hover { border: solid 3px red }
}
