* {
  margin: 0 auto;
  padding: none;
  /* font-family: sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10% 10%;
  background-image: linear-gradient(
      to bottom,
      rgb(206, 206, 129, 0.8),
      rgb(225, 106, 106, 0.7)
    ),
    url("https://images.unsplash.com/photo-1556817411-31ae72fa3ea0?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170");
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10% 10%;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10% 10%;
  background-image: linear-gradient(
      to bottom,
      rgb(206, 206, 129, 0.8),
      rgb(225, 106, 106, 0.7)
    ),
    url("https://images.unsplash.com/photo-1593697972646-2f348871bd56?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470");
  background-size: cover;
}

.habit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10% 10%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(225, 106, 106);
  font-size: large;
  color: white;
}
